*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav h1{
    font-size: 45px;
    font-weight: 900;
}

.btn{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-two{
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    background-color: transparent;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-two:hover{
    cursor: pointer;
    background-color: #FFF0E6;
}

.btn:hover{
    cursor: pointer;
    background-color: #e65c00;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 2.5vh;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left 23px top 25px, right bottom;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner{
    margin: 46px 34px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-content .btn{
    margin-right: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
#about .about-container{
    margin: 0 auto;
    text-align: center;
    width: 71%;
    max-width: 1140px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about .about-container .about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}