*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

nav h1{
    font-size: 45px;
    font-weight: 900;
}

.btn{
    border: none;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-two{
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A;
    background-color: transparent;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.2s ease;
}

.btn-two:hover{
    cursor: pointer;
    background-color: #FFF0E6;
}

.btn:hover{
    cursor: pointer;
    background-color: #e65c00;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 2.5vh;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left 23px top 25px, right bottom;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
#banner{
    margin: 46px 34px 0 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#banner .banner-content .btn{
    margin-right: 30px;
}
#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;
}
#about .about-container{
    margin: 0 auto;
    text-align: center;
    width: 71%;
    max-width: 1140px;
    padding: 131px 156px;
    background-color: #FFF8F3;
    border-radius: 10px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#about .about-container .about-info p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
#about .about-container .about-info h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

#skills{
    padding-top: 130px;
}
#skills .skills-container{
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
}
#skills .skills-container .skill-box{
    display: flex;
    margin-top: 20px;
    gap: 24px;
}
#skills .skills-container .skill-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
#skills .skills-container .skill-box .skill-card img{
    margin-bottom: 30px;
    max-width: 44px;
}
#skills .skills-container .skill-box .skill-card h3{
    margin-bottom: 20px;
    font-size: 20px;
    color: #181818;
}
#skills .skills-container .skill-box .skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

#resume{
    padding-top: 130px;
}
#resume .resume-container{
    margin: 113px auto 0;
    width: 71%;
    gap: 24px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#resume .resume-container hr{
    margin: 30px 0;
}
#resume .resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}
#resume .resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;   
}
#resume .resume-container .resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
#resume .resume-container .resume-card .card-info{
    font-size: 20px;
    color: #757575;
    font-weight: 600;
    margin-bottom: 20px;
}
#resume .resume-container .resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;
}
#resume .btn{
    margin-top: 50px;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 116px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;
}
footer .footer-container .social{
    max-width: 562px;
}
footer .footer-container .social p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}
footer .footer-container .social .icons{
    display: flex;
    gap: 24px;
}
footer .footer-container form input[type="text"], footer .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    border: none;
    margin-bottom: 24px;
    border-radius: 5px;
    color: #757575;
}